{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login_registration.css') }}"
/>
<body>
  <main class="main-content">
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="mb-4">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <div class="account_page">
        <div class="logo">
          <h1 class="title"><span class="blue">IT </span>Asset Manager</h1>
          <p class="subtitle">Login to your account</p>
        </div>
        <form method="POST" action="{{ url_for('login') }}" class="form">
          <div class="username">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-input"
              placeholder="Enter your username"
              required
            />
          </div>
          <div class="password">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-input"
              placeholder="Enter your password"
              required
            />
          </div>
          <div>
            <button type="submit" class="btn-primary">Login</button>
          </div>
        </form>
        <p class="account">
          Don't have an account?
          <a href="{{ url_for('register') }}" class="account-link"
            >Register here</a
          >
        </p>
      </div>
    </div>
  </main>
</body>
{% endblock %}
